@page
@model CoreTodo.Pages.ToDos.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ToDo</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDo.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDo.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDo.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDo.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ToDo.IsComplete)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ToDo.IsComplete)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ToDo?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
